body {
    font-family: 'Arial', 'Helvetica neue', Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

h1, h2, h3, p {
    color: #777;
    background: #ebebeb;
    font-size: 18px;
    display: inline;
}

/* css code for section that creates the boxes in the article section*/
.headers {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    background: #ebebeb;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header, .nav, .section, .aside, .footer {
    background: #ebebeb;
    text-align: center;
}

.header, .nav, .footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.section {
    float: left;
    width: 495px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    overflow: auto;
    padding-top: 20px;
}

.article {
    color: #ebebeb;
    background: #777;
    width: 96%;
    margin-left: 2%;
    margin-bottom: 3%;
    padding-bottom: 8px;
    margin-top: 20px;
}

/* for now the height is hard coded in, looking to improve this*/
.aside {
    float: left;
    margin-top: 10px;
    width: 445px;
    overflow: auto;
    height: 215.51px;
    padding-top: 20px;
}

/* css clearfix code used to clear floating objects*/
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }